
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<section>
    <div class="alert" id="FormProductColor">
        @Html.Action("AddProductColor")
    </div>
</section>
<section>
    <div class="alert" id="ShowProductColor">
        @Html.Action("ShowProductColor")
    </div>
</section>
<script>
    function onsuccess(data) {
        if (data.done) {
            LoadData();
            Clear();
        }
        else {
            alert("error");
        }
    }
    function onfailure(data) {
          toastr.error("Error");
    }
    function Clear() {
        $('form0')[0].reset();
    };
    function LoadData() {
        $.ajax({
            url: '/Admin/ProductColor/ShowProductColor',
            type: 'Get'
        }).done(function (data) {
            $('#ShowProductColor').html(data);
        }).fail(function (data) {
            $('.alert').html('error in save');
        });
    }
</script>
