
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Testimonials</h2>
<section>
    @Html.Action("TestMonDetailes")
</section>

<script>
    function OnSuccess(response) {

    }
    function OnFailure(response) {

    }
</script>